.mz_home_banner
  = image_tag "mz-home-banner.jpg"
.mz_home_intro
  .container
    .intro_title
      %h3 颠覆传统,新一代人工智能论文排版技术
      %p 依托于人工智能算法和海量的模板资源，模杖为客户提供最优质高效的排版服务,进而带来高额利润
    .row
      .intro_aside.col-md-3
        %span.troditional 传统
        .aside_intro
          %p 排版工作复杂，市场开拓困难
          %P 人力资源有限，徒增运营负担
          %p 人工手动排版，工作耗时巨大
          %p 没有统一规范，格式五花八门
      .intro_middle.col-md
        .middle_img
          = image_tag "mz-home-intro.png"
        .middle_button.clearfix
          = link_to "免费试用", "#", :class => "mz_common_button button_left"
          = link_to "了解更多", "#", :class => "mz_common_button button_right"
      .intro_aside.col-md-3
        %span.now 模杖
        .aside_intro
          %p.now 排版一键完成，省时省心省力
          %p.now 全自动化排版，解放人力资源
          %p.now &nbsp;A I智能排版，平均耗时10秒
          %p.now 校方规范格式，定期更新模板
.mz_common_title
  .container
    %h3 模杖为您打造 新业务 新利器 新突破
    %p 一键解决毕业论文排版难题
.mz_home_server
  .container
    %h3 使用模杖，您将：
    .server_product
      .row
        .server_product_items.col-lg-3.col-md-4
          .server_product_item
            .item_logo
              = image_tag "mz-home-item01.png"
            %h4 创造高额营收
            %p 论文模板无限使用
            %p 低成本 高回报
        .server_product_items.col-lg-3.col-md-4
          .server_product_item
            .item_logo
              = image_tag "mz-home-item02.png"
            %h4 新增业务方向
            %p 开辟新的盈利点
            %p 形成自己的竞争优势
        .server_product_items.col-lg-3.col-md-4
          .server_product_item
            .item_logo
              = image_tag "mz-home-item03.png"
            %h4 节约工作时间
            %p 平均10S完成一篇论文排版
            %p 节约大量工作时间
        .server_product_items.col-lg-3.col-md-4
          .server_product_item
            .item_logo
              = image_tag "mz-home-item04.png"
            %h4 降低人力成本
            %p 一键完成所有排版工作
            %p 无需手动排版校对
    %h3 模杖为您提供：
    .server_product
      .row
        .col-lg-3.col-md-4.server_product_items
          .server_product_item
            .item_logo
              = image_tag "mz-home-item05.png"
            %h4 简单的排版系统
            %p 简单三步(上传-排版-下载)
            %p 完成全部排版工作
        .col-lg-3.col-md-4.server_product_items
          .server_product_item
            .item_logo
              = image_tag "mz-home-item06.png"
            %h4 海量的模板资源
            %p 覆盖全国2000多所高校
            %p 近3000个毕业论文模板
        .col-lg-3.col-md-4.server_product_items
          .server_product_item
            .item_logo
              = image_tag "mz-home-item07.png"
            %h4 贴心的咨询服务
            %p 贴心客服全天在线
            %p 从售前到售后全程服务
        .col-lg-3.col-md-4.server_product_items
          .server_product_item
            .item_logo
              = image_tag "mz-home-item08.png"
            %h4 免费的定制服务
            %p 免费定制专属论文模板
            %p 满足客户个性化高品质需求
    .server_contact.clearfix
      = link_to "免费试用", "#", :class => "mz_common_button button_left"
      = link_to "了解更多", "#", :class => "mz_common_button button_right"
.mz_home_success
  .container
    %h3 模杖的价值，在于为您创造源源不断的财富
    %p 他们选择模杖后
    .row
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success01.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success02.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success03.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success01.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success02.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-md-4.col-sm-6
        .success_item
          .item_logo
            = image_tag "mz-home-success03.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
    .success_contact.clearfix
      = link_to "免费试用", "#", :class => "mz_common_button button_left"
      = link_to "了解更多", "#", :class => "mz_common_button button_right"
