.mz_example_banner
  = image_tag "mz-example-banner.jpg"
.mz_home_success.mz_example
  .container
    %h3 100+店铺正在使用模杖
    %p 他们选择模杖后
    .row
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success01.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success02.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success03.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success04.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success05.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
              %span (年)
      .success_items.col-xl-4.col-lg-6.col-sm-12
        .success_item
          .item_logo
            = image_tag "mz-home-success06.jpg"
          %h4 东北电力大学校园印务室
          .item_increace
            %span.item_rate 20%
            %p
              收入增长
              %span (年)
          .item_increace
            %span.item_rate 30%
            %p
              成本下降
    .success_contact.clearfix.mz_example_success
      = link_to "免费试用", "#", :class => "mz_common_button button_left"
.mz_example_report
  .container
    %h3 实时的数据报告
    .row
      .report_data.col-xl-3.col-md-6
        %h4 100+家
        %p 图文店铺
      .report_data.col-xl-3.col-md-6
        %h4 13+万人
        %p 平台会员
      .report_data.col-xl-3.col-md-6
        %h4 1345+万单
        %p 订单总量
      .report_data.col-xl-3.col-md-6
        %h4 100+万
        %p 营业额
