.mz_product_banner
  = image_tag "mz-product-banner.jpg"
.mz_product_intro
  .container
    .intro_title
      %h3 模杖，智能解决手动排版难题
      %p 依托于人工智能算法，结合自主研发的论文模板制作系统，为客户打造优质高效的盈利工具
    .product_product
      .row
        .col-lg-3.col-md-4.product_product_items
          .product_product_item
            .item_logo
              = image_tag "mz-product-item01.png"
            %h4 简单
            %p 在线操作 不占电脑内存
            %p 排版仅三步 流程简单清爽
            = link_to "免费试用", "#", :class => "mz_common_button button_left"
        .col-lg-3.col-md-4.product_product_items
          .product_product_item
            .item_logo
              = image_tag "mz-product-item02.png"
            %h4 自动
            %p 全自动化排版
            %p 无需手动设置任何格式
            = link_to "免费试用", "#", :class => "mz_common_button button_left"
        .col-lg-3.col-md-4.product_product_items
          .product_product_item
            .item_logo
              = image_tag "mz-product-item03.png"
            %h4 迅速
            %p 人工智能算法
            %p 平均10秒完成排版
            = link_to "免费试用", "#", :class => "mz_common_button button_left"
        .col-lg-3.col-md-4.product_product_items
          .product_product_item
            .item_logo
              = image_tag "mz-product-item04.png"
            %h4 海量
            %p 2000+高校 3000论文模板
            %p 来源于教务处等官方渠道
            = link_to "免费试用", "#", :class => "mz_common_button button_left"
.mz_common_title
  .container
    %h3 核心功能
    %p AI智能算法识别文档内容，一键完成所有排版工作
.mz_product_fnc
  .fnc.clearfix
    .container
      .fnc_left
        %h4 智能识别各级标题
        %p · 依据标题序号和字号智能判断标题级别
        %p · 依据模板要求，为不同标题级别设置格式
        = link_to "免费试用", "#", :class => "mz_common_button button_left"
      .fnc_right
        = image_tag "mz-product-fnc01.png"
  .fnc.fnc_black.clearfix
    .container
      .fnc_right
        = image_tag "mz-product-fnc02.png"
      .fnc_left
        %h4 自动生成目录
        %p · 依据各级标题，自动生产目录
        %p · 无需逐个设置标题格式
        = link_to "免费试用", "#", :class => "mz_common_button button_left"
